Package: vbts-pa-controller
Version: 0.0.2
Architecture: all
Essential: no
Provides: vbtspa
Depends: python, python-serial
Maintainer: Kurtis Heimerl <kheimerl@cs.berkeley.edu>
Description: Controller for the VBTS Power Amplifier
